/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    180deg,
    #1c1f3a 0%,
    #0b0e14 60%
  );
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 120px; /* espaço da bottom bar */
}

/* ESCONDER COM ANIMAÇÃO */
.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* TELAS */
#home,
#playlist-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(135deg, #9b7cff, #ff6ec7);
}

.hello {
  font-size: 12px;
  color: #cfcfcf;
}

.name {
  font-size: 16px;
}

.header-icons span {
  font-size: 18px;
  margin-l
